html {  height: 100%; width: 100%; margin: 0; padding: 0; font-family: Arial, Tahoma;}
		body { background: url('../images/bg.png') bottom center no-repeat; height: 100%; width: 100%; position: relative; margin: 0; padding: 0;}
		body p  { margin: 20px 0 20px 0; padding: 0; }
		#haslo { position: absolute; top: 40%; margin-top: -185px;}
		#haslo h1 { font-size: 100px; color: #1bace8; font-family: 'Alegreya Sans', sans-serif; font-weight: 800; margin: 0; padding: 0;}
		#box_page { height: 100%; position: relative; width: 1200px; margin: 0 auto;}
		#i_register { float: left; text-decoration: none; display: block; transition: 0.4s; background: #0460a9; color: #fff; padding: 14px 50px; display: block; margin-top: 20px; border: none; border-radius: 5px; font-size: 19px; cursor: pointer; font-weight: 700;}
		#i_register:hover { border-radius: 40px; background: #097edb;}
		#copyright p { color: #6e7e99; opacity: 0.8; font-family: 'Open Sans', sans-serif; font-size: 17px;}
		#copyright { position: absolute; bottom: 50px; left: 0;}
		#copyright2 p { color: #6e7e99; opacity: 0.8; font-family: 'Open Sans', sans-serif; font-size: 17px;}
		#copyright2 { }
		#box_form { }
		.form_errors { padding: 20px 0; text-align: center; margin: 0 0 20px 0; border: 1px solid #ff7676; background: #ffe0e0; color: #5e5050;}
		.positive_comments { padding: 20px 0; text-align: center; margin: 0 0 20px 0; border: 1px solid #85ff5b; background: #dbffcf; color: #3a4038;}
		#box_main_form {padding: 60px 0 60px 90px; width: 600px; color: #fff; font-family: 'Open Sans', sans-serif; font-size: 17px;}
		#box_main_form div { margin-bottom: 30px;}
		#box_main_form div input { width: 100%; height: 40px; line-height: 40px; margin-top: 5px;}
		label { font-size: 21px; margin-right: 20px;}
		#logo { margin: 0 auto; width: 130px; height: 130px; background: #1cace8; color: #fff; text-align: center; line-height: 130px; font-family: 'Alegreya Sans', sans-serif; font-weight: 800; font-size: 40px;}
		#content { width: 100%; }
		.incontent { width: 1200px; margin: 0 auto; }
		h2 {  color: #1bace8; width: 100%; text-align: center; font-size: 48px; font-family: 'Alegreya Sans', sans-serif; font-weight: 800; margin: 0; padding: 40px 0 10px 0; }
		#box_navigation { width: 100%; text-align: center; }
		#box_navigation ul { font-size: 0; list-style-type: none; margin: 0; padding: 0; width: 100%;}
		#box_navigation ul li { text-align: center;font-size: 17px; width: 19.8%; display: inline-block; padding: 20px 0 20px 0; margin: 0 0.1%; border-bottom: 4px solid #1bace8;} 
		#inp_city { width: 400px; font-size: 21px; border: 1px solid #cdcdcd; padding: 10px;}
		#box_form { width: 100%; text-align: center; padding: 40px 0; }
		.inp_all { width: 400px; font-size: 21px; border: 1px solid #cdcdcd; padding: 10px; margin: 10px auto; display: block;}
		.i_allforms { margin: 20px auto; text-decoration: none; display: block; transition: 0.4s; background: #0460a9; color: #fff; padding: 10px 30px; display: block; margin-top: 20px; border: none; border-radius: 5px; font-size: 19px; cursor: pointer;}
		.allbut { transition: 0.4s; margin: 20px; text-decoration: none; display: inline-block; float: left; transition: 0.4s; background: #0460a9; color: #fff; padding: 10px 30px; display: block; margin-top: 20px; border: none; border-radius: 5px; font-size: 19px; cursor: pointer;}
		.allbut:hover { border-radius: 40px; background: #097edb;}
		.i_allforms:hover { border-radius: 40px; background: #097edb;}
		.liactive { background: #1bace8; color: #fff }
		.liactive2 { background: #1bace8; color: #fff }
		.lidone  { background: #e8f4f9; }

		.row100 { background: #f2f4f8; width: 100%;  padding: 40px 0; margin: 20px 0;}
		.row33 { float: left;  width: 33.3%; }
		.row66 { background: #f2f4f8; width: 63.3%; padding: 40px 0; margin: 20px 0; float: right;}
		h3 { font-size: 20px;
font-weight: bold;
margin: 0 0 20px 0;
padding: 0;
    
border-bottom: 1px solid #0094f2;
padding-bottom: 20px;
display: inline-block;}
		.inrow { width: 80%; margin: 0 10%;}
		.commgood { width: 100%; padding: 10px 0; text-align: center; border: 1px solid #00ff30; background: #daffe1; color: #414942;}
		.commbad { width: 100%; padding: 10px 0; text-align: center; border: 1px solid #ff0000; background: #f7dbdb; color: #494141;}
		.data10 { width: 10%; float: left; height: 30px; line-height: 30px; border-top: 1px solid #cdcdcd;}
		.data60 { width: 60%; float: left; height: 30px; line-height: 30px; border-top: 1px solid #cdcdcd;}
		.data30 { width: 30%; float: left; height: 30px; line-height: 30px; border-top: 1px solid #cdcdcd; text-align: right;}
		.box_footer { width: 100%; clear: both; height: 0; font-size: 0;}
		.active { display: block !important;}
		#box_city, #box_doctor, #box_clinic { display: none; padding: 20px 0; text-align: center; background: #dce2eb; margin: 20px 0;}
		
		#box_clinic #inp_city {width: 80%;}
		.list_data { font-size: 13px;}
		#box_city_b, #box_clinic_b, #box_doctor_b  { width: 100%; margin-bottom: 20px;}
		.row33 input { width: 90%; margin: 5px 0;}
		.row33 select { width: 90% !important; margin: 5px 0; font-size: 13px !important;}
		.row33 label { font-size: 15px;}
		.date_window { width: 14.0%; margin: 20px 0.1%; background: #e8f4f9;
float: left; padding: 30px 0;}
.box_day { font-size: 44px;}
.houractive { background: #ffffff; border: 1px solid #d4e2e7; padding: 10px 0;}
.hourinactive	{ background: #fd1f1f; border: 1px solid #d4e2e7; padding: 10px 0;}
.box_month { padding: 10px 0;}
.tick { background: #06d014 !important; color: #fff;}
.tickw { background: #c5e3ed !important;}
.box_month { display: inline; }
.box_year { display: inline; }
.box_hours {margin-top: 30px;}